---
layout: archive
title: "Research Overall"
permalink: /researches/
author_profile: true
---

{% include base_path %}

{% for post in site.researches %}
  <div class="archive__item">
    <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
      <h2 class="archive__item-title" itemprop="headline">
        <a href="{{ post.permalink | prepend: base_path }}" rel="permalink">{{ post.title }}</a>
      </h2>
      
      {% if post.date %}
        <p class="page__meta">
          <i class="fa fa-fw fa-calendar" aria-hidden="true"></i> 
          {{ post.date | date: "%B %d, %Y" }}
        </p>
      {% endif %}

      {% if post.venue %}
        <p><i>{{ post.venue }}</i></p>
      {% endif %}

      {% if post.excerpt %}
        <p class="archive__item-excerpt" itemprop="description">
          {{ post.excerpt }}
        </p>
      {% endif %}

      {% if post.header.teaser %}
        <div class="archive__item-teaser">
          <img src=
            {% if post.header.teaser contains "://" %}
              "{{ post.header.teaser }}"
            {% else %}
              "{{ base_path }}/images/{{ post.header.teaser }}"
            {% endif %}
            alt="">
        </div>
      {% endif %}

      {{ post.content }}

      {% if post.citation %}
        <p style="font-size: smaller">
          <strong>Citation:</strong> {{ post.citation }}
        </p>
      {% endif %}
    </article>
  </div>
{% endfor %} 